@use '/src/styles/vars.scss' as *;
@use '/src/styles/customMediaQueries.scss' as *;
@use '/src/styles/mixins.scss' as *;

.orderInforWrapper {
  .title {
    @include textTemplate(16px, $fontWeightBold, 24px);
  }

  .infor {
    padding-left: 16px;
    .inforRow {
      display: flex;
      flex-direction: column;
      gap: 8px;
      margin-top: 16px; 
      
      @media (min-width: 768px) {
        flex-direction: row;
        gap: 16px;
        margin-top: 16px;
        align-items: flex-start;
      }

      .inforTitle {
        min-width: 180px;
        flex-shrink: 0;
        
        @media (min-width: 768px) {
          min-width: 200px;
        }
      }

      .inforValue {
        font-weight: $fontWeightSemiBold;

        &:last-child {
          @include flexAlign(center);
          gap: 12px;
        }

        .pitoStaffInput {
          width: 400px;
        }
      }
    }
  }
}
