@use '/src/styles/vars.scss' as *;
@use '/src/styles/customMediaQueries.scss' as *;

.root {
  margin-top: $adminTopbarHeight;
  min-height: calc(100vh - $adminTopbarHeight);
  width: 100vw;
  transition: all 0.5s;
  margin-left: 0;

  @include viewportLarge {
    margin-left: $adminSidebarWidth;
    width: calc(100vw - $adminSidebarWidth);
  }
}

.container {
  background-color: $neutralGray1;
  border-radius: 6px;
  padding: 16px;
  width: 100%;
  max-width: 100%;

  @include viewportMedium {
    padding: 19px 24px 40px 24px;
  }

  @include viewportLarge {
    padding: 19px 40px 40px 40px;
  }
}
