@use '/src/styles/vars.scss' as *;
@use '/src/styles/customMediaQueries.scss' as *;

.root {
  flex: 1;
  z-index: $adminSidebarzIndex;
  background-color: $neutralGray1;
  position: fixed;
  transition: all 0.5s;
  top: $adminTopbarHeight;
  left: -$adminSidebarWidth;
  height: calc(100vh - $adminTopbarHeight);

  @include viewportLarge {
    left: 0;
  }

  &.menuOpen {
    left: 0;
  }
}
