@use '/src/styles/vars.scss' as *;
@use '/src/styles/customMediaQueries.scss' as *;

.root {
  /* Expand to the full remaining width of the viewport */
  display: flex;
  width: 100%;
  overflow-x: hidden;
  position: relative;
}

.overlay {
  position: fixed;
  top: $adminTopbarHeight;
  left: 0;
  width: 100vw;
  height: calc(100vh - $adminTopbarHeight);
  background-color: rgba($color: #000000, $alpha: 0.5);
  z-index: $adminSidebarzIndex - 1;
  transition: all 0.3s ease-in-out;
  cursor: pointer;

  @include viewportLarge {
    display: none;
  }
}

.main {
  flex: 1;
  width: 100%;
}
