@use '/src/styles/vars.scss' as *;
@use '/src/styles/customMediaQueries.scss' as *;

.root {
  flex: 1;
  height: fit-content;
  position: fixed;
  top: 0;
  height: $adminTopbarHeight;
  padding: 0 16px;
  width: 100%;
  left: 0;
  background-color: $neutralGray1;
  border-bottom: 1px solid #f0f0f0;
  z-index: 49;
  display: flex;
  align-items: center;
  justify-content: space-between;

  @include viewportMedium {
    padding: 0 28px;
  }

  .headerRight {
    display: flex;
    align-items: center;
    gap: 16px;

    .menuButton {
      display: flex;
      align-items: center;
      justify-content: center;
      padding: 4px;
      cursor: pointer;

      @include viewportLarge {
        display: none;
      }
    }

    .iconMenu {
      width: 24px;
      height: 24px;
    }

    .logo {
      width: unset;
      height: 36px;
    }
  }
  .headerLeft {
    display: flex;
    align-items: center;
    justify-content: flex-end;
    gap: 12px;

    @include viewportMedium {
      gap: 0;
    }

    .line {
      height: 30px;
      width: 1px;
      margin: 0 25px 0 28px;
      background-color: $neutralGray5;
      display: none;

      @include viewportMedium {
        display: block;
      }
    }

    .profileMenuContent {
      width: 200px;
      border-radius: 10px;
      margin-top: 10px;
    }

    .iconBell {
    }

    .profileMenuWrapper {
      display: flex;
      align-items: center;
      .avatar {
        margin-right: 8px;
        background-color: $primaryPri2;
        color: $neutralGray1;
        border-radius: 50%;
        display: flex;
        align-items: center;
        justify-content: center;
      }
      .displayName {
        margin-right: 11.5px;
        display: none;

        @include viewportMedium {
          display: block;
        }
      }
    }
  }
}
